<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RedMadRobot</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/politic.css">
</head>

<body>

    <header>
        <div class="container-small">
            <div class="all-header wow flipInX" data-wow-delay="0.5s">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="RedMadRobot">
                </a>
                <button class="burger">
                    <img src="../img/menu.png" alt="Burger">
                </button>
                <nav>
                    <ul>
                        <li><a href="index.html#about-project">О проекте</a></li>
                        <li><a href="index.html#exersice">Задача</a></li>
                        <li><a href="index.html#unique">Уникальность</a></li>
                        <li><a href="index.html#result">Результат</a></li>
                    </ul>
                    <i class="icon-cross close-menu"></i>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="all-politic">
                <div class="some-title">
                    Политика обработки персональных данных
                </div>
                <h4>Официальное уведомление</h4>
                <p>ДАННОЕ ОФИЦИАЛЬНОЕ УВЕДОМЛЕНИЕ РАЗМЕЩЕНО В ДОПОЛНЕНИЕ К ПРОЧИМ ОФИЦИАЛЬНЫМ УВЕДОМЛЕНИЯМ И ЗАЯВЛЕНИЯМ ОБ ОТВЕТСТВЕННОСТИ, НАХОДЯЩИМСЯ НА ИНТЕРНЕТ-САЙТЕ «РЭДМЭРОБОТ» ЛИБО ВКЛЮЧЕННЫМ В СОСТАВ ПОМЕЩЕННЫХ НА ЭТОМ САЙТЕ ДОКУМЕНТОВ. «РЭДМЭДРОБОТ» ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ВНОСИТЬ ИЗМЕНЕНИЯ В ДАННЫЙ ТЕКСТ БЕЗ ПРЕДВАРИТЕЛЬНОГО ОПОВЕЩЕНИЯ ПОЛЬЗОВАТЕЛЕЙ САЙТА.</p>
                <h4>Авторские права</h4>
                <p>Информация, опубликованная на сайте «РЭДМЭДРОБОТ» защищена законом об авторских правах. «РЭДМЭДРОБОТ» предоставляет право посетителям сайта использовать опубликованные материалы в любых личных и некоммерческих целях. За исключением оговоренных ситуаций, воспроизведение (копирование) любых материалов сайта невозможно без прямого письменного разрешения со стороны «РЭДМЭДРОБОТ».</p>
                <h4>Лицензионные права</h4>
                <p>Информация, опубликованная на сайте «РЭДМЭДРОБОТ», не может быть воспринята как предоставление лицензионных прав на интеллектуальную собственность, принадлежащую «РЭДМЭДРОБОТ» либо третьим сторонам.</p>
                <h4>Содержание материалов</h4>
                <p>«РЭДМЭДРОБОТ» приняты все разумные меры для того, чтобы обеспечить точность и актуальность размещенной на этом сайте информации, однако ее точность и полнота не могут быть гарантированы. «РЭДМЭДРОБОТ» оставляет за собой право вносить изменения в содержание материалов этого сайта в любое время. Продукты или услуги, не относящиеся напрямую к «РЭДМЭДРОБОТ», упомянуты исключительно в информационных целях.

                    Вся информация о компании «РЭДМЭДРОБОТ» и третьих сторонах на этом сайте представлена в том виде, в котором она существует в распоряжении «РЭДМЭДРОБОТ».

                    ВСЕ МАТЕРИАЛЫ ДАННОГО САЙТА РАЗМЕЩЕНЫ НА НЕМ ИСКЛЮЧИТЕЛЬНО В иНФОРМАЦИОННЫХ ЦЕЛЯХ И НЕ МОГУТ СЛУЖИТЬ ОСНОВАНИЕМ ДЛЯ ПРИНЯТИЯ КАКИХ-ЛИБО ИНВЕСТИЦИОННЫХ РЕШЕНИЙ. ОПУБЛИКОВАННАЯ НА САЙТЕ ИНФОРМАЦИЯ ВКЛЮЧАЕТ ПРОГНОЗЫ, ОЖИДАНИЯ И ОЦЕНКУ ФИНАНСОВЫХ ПОКАЗАТЕЛЕЙ ДЕЯТЕЛЬНОСТИ «РЭДМЭДРОБОТ», КОТОРЫЕ ЯВЛЯЮТСЯ «ИНДИКАТИВНЫМИ» И В ТАКОМ ВИДЕ НЕ МОГУТ СЛУЖИТЬ КАКИМ-ЛИБО ИНЫМ ЦЕЛЯМ. В ЧАСТНОСТИ, ИСТОЧНИКОМ ФИНАНСОВОЙ ИНФОРМАЦИИ, ЕСЛИ НЕ ОГОВОРЕНО ИНАЧЕ, ЯВЛЯЕТСЯ СИСТЕМА УПРАВЛЕНЧЕСКОГО УЧЕТА «РЭДМЭДРОБОТ»; ТАКАЯ ИНФОРМАЦИЯ ЯВЛЯЕТСЯ НЕАУДИРОВАННОЙ И МОЖЕТ ВКЛЮЧАТЬ ЛИБО НЕ ВКЛЮЧАТЬ ПРИБЛИЗИТЕЛЬНЫЕ ДАННЫЕ И ОЦЕНКИ. ЛЮБОЙ ПОЛЬЗОВАТЕЛЬ ОПУБЛИКОВАННОЙ НА ЭТОМ САЙТЕ ИНФОРМАЦИИ ВЫРАЖАЕТ СВОЕ СОГЛАСИЕ С ТЕМ, ЧТО «РЭДМЭДРОБОТ» НЕ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА ТОЧНОСТЬ И ПОЛНОТУ ПРЕДСТАВЛЕННЫХ ДАННЫХ.

                    Некоторые материалы данного сайта являются прогнозными по своему характеру и содержанию и, таким образом, несут в себе значительные риски и неопределенности. Посетителю сайта следует иметь в виду, что такие прогнозы носят предварительный характер и действительные события и обстоятельства могут от них существенно отличаться в результате воздействия различных факторов, включая, в том числе: зависимость от бизнес-партнеров во внедрении и продвижении новых продуктов; ценовую конкуренцию, конкуренцию со стороны действующих и новых игроков рынка либо специализированных продавцов; изменения в экономической политике, законодательстве и нормативно-правовой базе; изменения курсов валют либо рыночной ситуации; невозможность привлечь инвестиции либо кредитные ресурсы на приемлемых условиях.

                    При любом развитии событий, в связи с возможностью/невозможностью использования ресурсов данного сайта, а также в связи с использованием третьими сторонами размещенных на сайте материалов и документов (включая информацию, появление которой на сайте произошло не по инициативе компании), «РЭДМЭДРОБОТ» не несет ответственность за какой-либо прямой, косвенный, случайный либо сопутствующий ущерб, в особенности, ущерб от упущенной выгоды, потери прибыльности, роста расходов, потери информации и т.п.</p>
                <h4>Торговые марки</h4>
                <p>Торговые марки, знаки, логотипы и т.п. (далее — «Торговые марки»), помещенные на данном сайте, являются собственностью «РЭДМЭДРОБОТ» и третьих сторон. Информация, опубликованная на сайте, не предоставляет никаких лицензионных прав на использование любых торговых марок без получения предварительного письменного согласия владельца.</p>
                <h4>Конфиденциальность</h4>
                <h6>Какую информацию мы собираем?</h6>
                <p>Мы сохраняем информацию, поступающую от пользователей, разными способами, включая данные, предоставляемые при регистрации на сайте, участии в конкурсах и других взаимодействиях с сайтом. Такие данные могут включать: имя, фамилию, адрес электронной почты.

                    По требованию пользователя информация о нем в любой момент может быть удалена. посетителях сайта (IP-адрес, имя домена, тип браузера и операционная система, дата и время посещения и т. п.) собирается и сохраняется для статистических целей. Эта информация является общедоступной, таким образом, «РЭДМЭДРОБОТ» не несет ответственности за ее разглашение.</p>
                <h6>Что мы делаем с полученной информацией?</h6>
                <p>Данные могут быть использованы в маркетинговых целях, для рассылки новостей и информации об услугах; персонализации сайта на основе истории поиска и просмотров.
                    Полученные данные в обезличенном виде могут быть использованы для лучшего понимания потребностей бизнес-партнеров «РЭДМЭДРОБОТ» и улучшения качества сотрудничества.</p>
                <h6>Как аннулировать информацию или внести в неё изменения?</h6>
                <p>Мы будем посылать вам электронные и текстовые сообщения только в том случае, если вы дадите на это согласие.
                    Вы можете в любое время попросить нас изменить или аннулировать ваши персональные данные в некоторых или всех наших списках для рассылки.
                    При возникновении затруднений при изменении или аннулировании персональных данных, вы можете обратиться по телефону компании «РЭДМЭДРОБОТ» +7 (495) 933-05-95 (Москва) или электронной почте 01001010@redmadrobot.com
                    В данном документе под словами «Компания "РЭДМЭДРОБОТ "» подразумевается юридическое лицо ООО «РЭДМЭДРОБОТ», юридический адрес: Россия, 123557, г. Москва, ул. Пресненский Вал, д.27, стр.9, эт.1, пом.III, комн.3.</p>
                <h4>Ссылки</h4>
                <p>Ссылки на другие (внешние) сайты размещены на этом сайте бесплатно. Информация с этих сайтов не является продолжением либо дополнением материалов «РЭДМЭДРОБОТ».</p>
                <h4>Действие законодательства</h4>
                <p>Поддержка данного сайта осуществляется из офиса «РЭДМЭДРОБОТ», расположенного в г. Москве, Российская Федерация. Все вопросы, касающиеся доступа пользователей к сайту и использования размещенной на нем информации, регулируются действующим законодательством Российской Федерации. Любые спорные вопросы, касающиеся использования сайта, должны рассматриваться в судебной инстанции соответствующей юрисдикции, а именно, в Арбитражном суде г. Москвы.</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-small">
            <div class="all-footer wow flipInX" data-wow-delay="0.5s">
                <a href="https://www.redmadrobot.ru/" class="logo">
                    <img src="../img/logo.png" alt="RedMadRobot">
                </a>
                <nav>
                    <ul>
                        <li><a href="https://vc.ru/design/104088-kak-redmadrobot-s-rostelekomom-razrabotali-prilozhenie-rt-life-pomoshchnika-v-rabochih-delah">Подробнее о проекте</a></li>
                        <li><a href=" https://www.redmadrobot.ru/projects">Что мы еще умеем </a></li>
                        <li><a href="https://t.me/Redmadnews ">Redmadnews </a></li>
                    </ul>
                </nav>
                <span>© 2008–2020 Redmadrobot</span>
            </div>
        </div>
    </footer>

    <div class="back-dark"></div>


    <div class="popUp thank">
        <span class="close-pop">&times;</span>
        <div class="content">
            <h3>Благодарим за заявку!</h3>
            <p>Наш менеджер свяжется
                с вами в ближайшее время</p>
        </div>
    </div>

    <div class="popUp call">
        <span class="close-pop">&times;</span>
        <div class="content">
            <!-- <h3>Введите ваши данные</h3> -->
            <form>
                <div class="inp">
                    <input type="text" placeholder="Как вас зовут" required id="name">
                    <img src="../img/user.png" alt="">
                </div>
                <div class="inp">
                    <input type="email" placeholder="Ваша почта" required id="phone">
                    <img src="../img/mail.png" alt="">
                </div>
                <textarea placeholder="Пару слов о проекте"></textarea>
                <div class="check">
                    <input type="checkbox" id="check" required>
                    <label for="check">
                        Нажимая на кнопку, вы даете
                        согласие на обработку своих
                        персональных данных и соглашаетесь
                        с <a href="politic.html">Политикой Конфиденциальности</a>
                    </label>
                </div>
                <button class="blue-button send">ОТПРАВИТЬ</button>
            </form>
        </div>
    </div>



    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>