<footer>
    <div class="container-small">
        <div class="all-footer wow flipInX" data-wow-delay="0.5s">
            <a href="https://www.redmadrobot.ru/" class="logo">
                <img src="../img/logo.png" alt="RedMadRobot">
            </a>
            <nav>
                <ul>
                    <li><a href="https://vc.ru/design/104088-kak-redmadrobot-s-rostelekomom-razrabotali-prilozhenie-rt-life-pomoshchnika-v-rabochih-delah">Подробнее о проекте</a></li>
                    <li><a href=" https://www.redmadrobot.ru/projects">Что мы еще умеем </a></li>
                    <li><a href="https://t.me/Redmadnews ">Redmadnews </a></li>   
                </ul>
            </nav>
            <span>© 2008–2020 Redmadrobot</span>
        </div>
    </div>
</footer>