<header>
    <div class="container-small">
        <div class="all-header wow flipInX" data-wow-delay="0.5s">
            <a href="index.html" class="logo">
                <img src="../img/logo.png" alt="RedMadRobot">
            </a>
            <button class="burger">
                <img src="../img/menu.png" alt="Burger">
            </button>
            <nav>
                <ul>
                    <li><a href="index.html#about-project">О проекте</a></li>
                    <li><a href="index.html#exersice">Задача</a></li>
                    <li><a href="index.html#unique">Уникальность</a></li>
                    <li><a href="index.html#result">Результат</a></li>    
                </ul>
                <i class="icon-cross close-menu"></i>
            </nav>
        </div>
    </div>
</header>