<div class="back-dark"></div>


    <div class="popUp thank">
        <span class="close-pop">&times;</span>
        <div class="content">
            <h3>Благодарим за заявку!</h3>
            <p>Наш менеджер свяжется
                с вами в ближайшее время</p>
        </div>
    </div>

    <div class="popUp call">
        <span  class="close-pop">&times;</span>
        <div class="content">
            <!-- <h3>Введите ваши данные</h3> -->
            <form>
                <div class="inp">
                    <input type="text" placeholder="Как вас зовут" required id="name">
                    <img src="../img/user.png" alt="">
                </div>
                <div class="inp">
                    <input type="email" placeholder="Ваша почта" required id="phone">
                    <img src="../img/phone-icon.png" alt="">
                </div>
                <textarea placeholder="Пару слов о проекте"> </textarea>
                <div class="check">
                    <input type="checkbox" id="check" required>
                    <label for="check">
                        Нажимая на кнопку, вы даете
                        согласие на обработку своих
                        персональных данных и соглашаетесь
                        с <a href="politic.html">Политикой Конфиденциальности</a>
                    </label>
                </div>
                <button class="blue-button send">ОТПРАВИТЬ</button>
            </form>
        </div>
    </div>

